# Final Project Phase 2 Summary
This Jupyter Notebook (.ipynb) will serve as the skeleton file for your submission for Phase 2 of the Final Project. Answer all statements addressed below as specified in the instructions for the project, covering all necessary details. Please be clear and concise in your answers. Each response should be at most 3 sentences. Good luck! <br><br>

Note: To edit a Markdown cell, double-click on its text.

## Jupyter Notebook Quick Tips
Here are some quick formatting tips to get you started with Jupyter Notebooks. This is by no means exhaustive, and there are plenty of articles to highlight other things that can be done. We recommend using HTML syntax for Markdown but there is also Markdown syntax that is more streamlined and might be preferable.
<a href = "https://towardsdatascience.com/markdown-cells-jupyter-notebook-d3bea8416671">Here's an article</a> that goes into more detail. (Double-click on cell to see syntax)

# Heading 1
## Heading 2
### Heading 3
#### Heading 4
<br>
<b>BoldText</b> or <i>ItalicText</i>
<br> <br>
Math Formulas: $x^2 + y^2 = 1$
<br> <br>
Line Breaks are done using br enclosed in < >.
<br><br>
Hyperlinks are done with: <a> https://www.google.com </a> or
<a href="http://www.google.com">Google</a><br>

# Data Collection and Cleaning
You are required to provide data collection and cleaning for the three (3) minimum datasets. Create a function for each of the following sections that reads or scrapes data from a file or website, manipulate and cleans the parsed data, and writes the cleaned data into a new file.

Make sure your data cleaning and manipulation process is not too simple. Performing complex manipulation and using modules not taught in class shows effort, which will increase the chance of receiving full credit.

# Partner Names
Please add both you and your partner's names below. If you are working alone, obviously it would only be your name.
*   Partner 1: Allen You
*   Partner 2 (If Applicable): Dennis Lee

## Data Sources
Include sources (as links) to your datasets. Add any additional data sources if needed. Clearly indicate if a data source is different from one submitted in your Phase I, as we will check that it satisfies the requirements.
*   Downloaded Dataset Source: https://www.fueleconomy.gov/feg/download.shtml
*   Web Collection #1 Source:
*   Web Collection #2 Source:

## Downloaded Dataset Requirement

Fill in the predefined functions with your data scraping/parsing code. You may modify/rename each function as you seem fit, but you must provide at least 3 separate functions that clean each of your required datasets.

## Web Collection Requirement \#1

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from pprint import pprint

def web_parser1():
  # Requesting the html string using requests module and creating soup object from it
  response = requests.get("https://www.eia.gov/dnav/pet/hist/LeafHandler.ashx?n=pet&s=emm_epm0_pte_nus_dpg&f=m")
  soup = BeautifulSoup(response.text, features = "lxml")

  # Locating the table tag, which stores all the rows
  table = soup.find("table", {"class" : "FloatTitle"})

  # Locating all the rows
  rows = table.find_all("tr")

  # Inner and outer list used to create pandas dataframe
  listofrows = []
  innerrow = []

  # Iterating through the rows, adding to the inner list the text
  for row in rows[1:]:
    innerrow = []
    for data in row.find_all("td"):
      innerrow.append(data.text)
    listofrows.append(innerrow)

  # Creating list for header/columns
  header = [tag.text for tag in rows[0] if tag.text != " "]

  # Creating dataframe from list of lists
  df = pd.DataFrame(listofrows, columns = header)

  # Masking the dataframe to eliminate rows of empty separation from html source code
  df = df[df.iloc[:,0] != ""]

  # Setting the index to the year
  df.set_index('Year', inplace=True)

  # Setting the dataframe to only contain years past year 2000
  df = df.iloc[7:, :]

  # Changing only the gas prices from string to float to use aggregate mean
  df = df[df!= ''].astype(float)

  # Creating new column to hold the mean of ALL months, or the yearly average
  df["National"] = df.mean(axis = 1).round(3)

  # New dataframe that holds only these yearly averages to be used in the final dataframe
  # Only U.S values here; the entire code is repeated with minor changes and different request urls to capture the
  # data for states as well in order to compile a yearly average for the U.S and individual states
  USdf = df["National"]

  # Same process for state of California; adjusted iloc because year default starts at 2000
  response = requests.get("https://www.eia.gov/dnav/pet/hist/LeafHandler.ashx?n=PET&s=EMM_EPM0_PTE_SCA_DPG&f=M")
  soup = BeautifulSoup(response.text, features = "lxml")
  table = soup.find("table", {"class" : "FloatTitle"})
  rows = table.find_all("tr")
  listofrows = []
  innerrow = []
  for row in rows[1:]:
    innerrow = []
    for data in row.find_all("td"):
      innerrow.append(data.text)
    listofrows.append(innerrow)
  header = [tag.text for tag in rows[0] if tag.text != " "]
  df = pd.DataFrame(listofrows, columns = header)
  df = df[df.iloc[:,0] != ""]
  df.set_index('Year', inplace=True)
  df = df.iloc[0:, :]
  df = df[(df!= '') & (df!= "NA")].astype(float)
  df["California"] = df.mean(axis = 1).round(3)
  CAdf = df["California"]

  # Same process for state of Colorado
  response = requests.get("https://www.eia.gov/dnav/pet/hist/LeafHandler.ashx?n=PET&s=EMM_EPM0_PTE_SCO_DPG&f=M")
  soup = BeautifulSoup(response.text, features = "lxml")
  table = soup.find("table", {"class" : "FloatTitle"})
  rows = table.find_all("tr")
  listofrows = []
  innerrow = []
  for row in rows[1:]:
    innerrow = []
    for data in row.find_all("td"):
      innerrow.append(data.text)
    listofrows.append(innerrow)
  header = [tag.text for tag in rows[0] if tag.text != " "]
  df = pd.DataFrame(listofrows, columns = header)
  df = df[df.iloc[:,0] != ""]
  df.set_index('Year', inplace=True)
  df = df.iloc[0:, :]
  df = df[(df!= '') & (df!= "NA")].astype(float)
  df["Colorado"] = df.mean(axis = 1).round(3)
  COdf = df["Colorado"]

  # Same process for state of Florida
  response = requests.get("https://www.eia.gov/dnav/pet/hist/LeafHandler.ashx?n=PET&s=EMM_EPM0_PTE_SFL_DPG&f=M")
  soup = BeautifulSoup(response.text, features = "lxml")
  table = soup.find("table", {"class" : "FloatTitle"})
  rows = table.find_all("tr")
  listofrows = []
  innerrow = []
  for row in rows[1:]:
    innerrow = []
    for data in row.find_all("td"):
      innerrow.append(data.text)
    listofrows.append(innerrow)
  header = [tag.text for tag in rows[0] if tag.text != " "]
  df = pd.DataFrame(listofrows, columns = header)
  df = df[df.iloc[:,0] != ""]
  df.set_index('Year', inplace=True)
  df = df.iloc[0:, :]
  df = df[(df!= '') & (df!= "NA")].astype(float)
  df["Florida"] = df.mean(axis = 1).round(3)
  FLdf = df["Florida"]

  # Same process for state of Massachusetts
  response = requests.get("https://www.eia.gov/dnav/pet/hist/LeafHandler.ashx?n=PET&s=EMM_EPM0_PTE_SMA_DPG&f=M")
  soup = BeautifulSoup(response.text, features = "lxml")
  table = soup.find("table", {"class" : "FloatTitle"})
  rows = table.find_all("tr")
  listofrows = []
  innerrow = []
  for row in rows[1:]:
    innerrow = []
    for data in row.find_all("td"):
      innerrow.append(data.text)
    listofrows.append(innerrow)
  header = [tag.text for tag in rows[0] if tag.text != " "]
  df = pd.DataFrame(listofrows, columns = header)
  df = df[df.iloc[:,0] != ""]
  df.set_index('Year', inplace=True)
  df = df.iloc[0:, :]
  df = df[(df!= '') & (df!= "NA")].astype(float)
  df["Massachusetts"] = df.mean(axis = 1).round(3)
  MAdf = df["Massachusetts"]

  # Same process for state of Minnesota
  response = requests.get("https://www.eia.gov/dnav/pet/hist/LeafHandler.ashx?n=PET&s=EMM_EPM0_PTE_SMN_DPG&f=M")
  soup = BeautifulSoup(response.text, features = "lxml")
  table = soup.find("table", {"class" : "FloatTitle"})
  rows = table.find_all("tr")
  listofrows = []
  innerrow = []
  for row in rows[1:]:
    innerrow = []
    for data in row.find_all("td"):
      innerrow.append(data.text)
    listofrows.append(innerrow)
  header = [tag.text for tag in rows[0] if tag.text != " "]
  df = pd.DataFrame(listofrows, columns = header)
  df = df[df.iloc[:,0] != ""]
  df.set_index('Year', inplace=True)
  df = df.iloc[0:, :]
  df = df[(df!= '') & (df!= "NA")].astype(float)
  df["Minnesota"] = df.mean(axis = 1).round(3)
  MNdf = df["Minnesota"]

  # Same process for state of New York
  response = requests.get("https://www.eia.gov/dnav/pet/hist/LeafHandler.ashx?n=PET&s=EMM_EPM0_PTE_SNY_DPG&f=M")
  soup = BeautifulSoup(response.text, features = "lxml")
  table = soup.find("table", {"class" : "FloatTitle"})
  rows = table.find_all("tr")
  listofrows = []
  innerrow = []
  for row in rows[1:]:
    innerrow = []
    for data in row.find_all("td"):
      innerrow.append(data.text)
    listofrows.append(innerrow)
  header = [tag.text for tag in rows[0] if tag.text != " "]
  df = pd.DataFrame(listofrows, columns = header)
  df = df[df.iloc[:,0] != ""]
  df.set_index('Year', inplace=True)
  df = df.iloc[0:, :]
  df = df[(df!= '') & (df!= "NA")].astype(float)
  df["New York"] = df.mean(axis = 1).round(3)
  NYdf = df["New York"]

  # Same process for state of Ohio
  response = requests.get("https://www.eia.gov/dnav/pet/hist/LeafHandler.ashx?n=PET&s=EMM_EPM0_PTE_SOH_DPG&f=M")
  soup = BeautifulSoup(response.text, features = "lxml")
  table = soup.find("table", {"class" : "FloatTitle"})
  rows = table.find_all("tr")
  listofrows = []
  innerrow = []
  for row in rows[1:]:
    innerrow = []
    for data in row.find_all("td"):
      innerrow.append(data.text)
    listofrows.append(innerrow)
  header = [tag.text for tag in rows[0] if tag.text != " "]
  df = pd.DataFrame(listofrows, columns = header)
  df = df[df.iloc[:,0] != ""]
  df.set_index('Year', inplace=True)
  df = df.iloc[0:, :]
  df = df[(df!= '') & (df!= "NA")].astype(float)
  df["Ohio"] = df.mean(axis = 1).round(3)
  OHdf = df["Ohio"]

  # Same process for state of Texas
  response = requests.get("https://www.eia.gov/dnav/pet/hist/LeafHandler.ashx?n=PET&s=EMM_EPM0_PTE_STX_DPG&f=M")
  soup = BeautifulSoup(response.text, features = "lxml")
  table = soup.find("table", {"class" : "FloatTitle"})
  rows = table.find_all("tr")
  listofrows = []
  innerrow = []
  for row in rows[1:]:
    innerrow = []
    for data in row.find_all("td"):
      innerrow.append(data.text)
    listofrows.append(innerrow)
  header = [tag.text for tag in rows[0] if tag.text != " "]
  df = pd.DataFrame(listofrows, columns = header)
  df = df[df.iloc[:,0] != ""]
  df.set_index('Year', inplace=True)
  df = df.iloc[0:, :]
  df = df[(df!= '') & (df!= "NA")].astype(float)
  df["Texas"] = df.mean(axis = 1).round(3)
  TXdf = df["Texas"]

  # Same process for state of Washington
  response = requests.get("https://www.eia.gov/dnav/pet/hist/LeafHandler.ashx?n=PET&s=EMM_EPM0_PTE_SWA_DPG&f=M")
  soup = BeautifulSoup(response.text, features = "lxml")
  table = soup.find("table", {"class" : "FloatTitle"})
  rows = table.find_all("tr")
  listofrows = []
  innerrow = []
  for row in rows[1:]:
    innerrow = []
    for data in row.find_all("td"):
      innerrow.append(data.text)
    listofrows.append(innerrow)
  header = [tag.text for tag in rows[0] if tag.text != " "]
  df = pd.DataFrame(listofrows, columns = header)
  df = df[df.iloc[:,0] != ""]
  df.set_index('Year', inplace=True)
  df = df.iloc[0:, :]
  df = df[(df!= '') & (df!= "NA")].astype(float)
  df["Washington"] = df.mean(axis = 1).round(3)
  WAdf = df["Washington"]

  # Creating the final dataframe by concatenating the individual aggregated average columns for each state yearly
  updateddf = pd.concat([USdf, CAdf, COdf, FLdf, MAdf, MNdf, NYdf, OHdf, TXdf, WAdf], axis = 1)

  # Writing the data to a csv file
  updateddf.to_csv("updatedfuelprices.csv", index = True)
  return updateddf

############ Function Call ############
(web_parser1())

,National,California,Colorado,Florida,Massachusetts,Minnesota,New York,Ohio,Texas,Washington
Year,,,,,,,,,,
2000,1.524,1.772,1.602,NaN,NaN,1.550,1.680,NaN,1.479,NaN
2001,1.466,1.684,1.507,NaN,NaN,1.493,1.568,NaN,1.372,NaN
2002,1.382,1.555,1.390,NaN,NaN,1.369,1.489,NaN,1.312,NaN
2003,1.601,1.874,1.568,1.579,1.635,1.538,1.730,1.546,1.488,1.687
2004,1.891,2.161,1.853,1.911,1.904,1.797,2.037,1.834,1.768,1.987
2005,2.312,2.515,2.298,2.354,2.306,2.171,2.453,2.251,2.215,2.407
2006,2.615,2.851,2.586,2.634,2.617,2.517,2.796,2.532,2.508,2.749
2007,2.846,3.124,2.836,2.841,2.774,2.780,2.998,2.819,2.707,3.009
2008,3.305,3.569,3.218,3.335,3.238,3.132,3.509,3.216,3.174,3.459
2009,2.397,2.718,2.286,2.408,2.353,2.315,2.564,2.346,2.258,2.618
2010,2.834,3.137,2.712,2.823,2.800,2.786,2.998,2.766,2.689,3.055
2011,3.576,3.866,3.447,3.550,3.590,3.549,3.803,3.504,3.429,3.768
2012,3.686,4.090,3.535,3.634,3.721,3.569,3.941,3.621,3.492,3.894
2013,3.576,3.934,3.470,3.572,3.616,3.501,3.837,3.510,3.389,3.691
2014,3.442,3.800,3.394,3.427,3.485,3.301,3.703,3.384,3.231,3.608
2015,2.513,3.210,2.402,2.433,2.457,2.390,2.663,2.401,2.253,2.744
2016,2.252,2.786,2.142,2.219,2.223,2.092,2.363,2.188,2.018,2.533
2017,2.530,3.085,2.431,2.487,2.513,2.389,2.620,2.386,2.296,2.914
2018,2.817,3.554,2.752,2.708,2.827,2.655,2.898,2.620,2.532,3.272
2019,2.686,3.674,2.653,2.507,2.662,2.498,2.726,2.535,2.350,3.184
2020,2.260,3.133,2.334,2.152,2.236,2.051,2.326,2.083,1.901,2.732
2021,3.094,4.093,3.258,2.950,3.007,2.865,3.099,2.927,2.722,3.513
2022,4.064,5.405,3.896,3.819,4.105,3.825,4.110,3.838,3.558,4.657
2023,3.668,4.910,3.744,3.478,3.610,3.493,3.681,3.454,3.187,4.571

## Web Collection Requirement \#2

In [29]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from pprint import pprint
def web_parser2():
    # Requesting the api with the following parameters to filter/clean the data intially without having to later:
    # Fuel type is set to ElEC to filter by electric charging stations ONLY
    # The states parameter are set to the states that were found in dataset #2 for ease of comparison and consistency
    # The limit is set to all as we want to see all of the stations that match our query
    # Access parameter is set to public because we want the stations that are accessible by the public
    # Lastly, the status parameter is set to E,T, meaning active/temporarily disabled stations, respectively
    response = requests.get("https://developer.nrel.gov/api/alt-fuel-stations/v1.json?api_key=DEMO_KEY&fuel_type=ELEC&state=CA,CO,FL,MA,MN,NY,OH,TX,WA&limit=all&access=public&status=E,T")

    # Creating the list skeletons that will be used as input for columns in dataframe
    stationnames = []
    cities = []
    states = []
    networks = []
    pricings = []
    opendates = []

    # Iterating through the stations from the response in json, then appending each of the responses we want
    # to their respective list skeleton
    for station in response.json()["fuel_stations"]:
      stationnames.append(station["station_name"])
      cities.append(station["city"])
      states.append(station["state"])
      pricings.append(station["ev_pricing"])
      opendates.append(station["open_date"])
      networks.append(station["ev_network"])

    # Creating an empty dataframe
    df = pd.DataFrame()

    # Adding columns to the dataframe through the filled list skeletons
    df["Station Name"] = stationnames
    df["City"] = cities
    df["State"] = states
    df["Network"] = networks
    df["Pricing"] = pricings
    df["Open Date"] = opendates

    # Eliminating the stations that have an opening date before year 2000
    df = df[df['Open Date'].astype(str).str.startswith('2')]

    # Setting the opening date column to type datetime in order to sort
    df["Open Date"] = pd.to_datetime(df["Open Date"])

    # Sorting the rows by the open date of each station
    df.sort_values('Open Date', inplace=True)

    # Renaming the entries that have no cost as "Free" using np.where
    df["Pricing"] = np.where(pd.isna(df["Pricing"]), "Free", df["Pricing"])

    # Writing the dataframe to a csv file
    df.to_csv("updatedelectricstations", index = True)

    return df

############ Function Call ############
web_parser2()

,Station Name,City,State,Network,Pricing,Open Date
88,Home Depot,San Luis Obispo,CA,Non-Networked,Free,2000-04-15
89,San Luis Obispo Promenade - Bed Bath & Beyond,San Luis Obispo,CA,Non-Networked,Free,2000-04-15
296,Marsh Street Parking Structure,San Luis Obispo,CA,Non-Networked,Free,2000-04-15
29,California State University - Northridge,Northridge,CA,Non-Networked,Free,2002-01-15
30,California State University - Northridge,Northridge,CA,Non-Networked,Free; parking is $8 per day.,2002-01-15
...,...,...,...,...,...,...
36667,20673 Tracy Avenue (US-FQC-K3P-1A),Buttonwillow,CA,RIVIAN_ADVENTURE,Free,2023-11-12
36672,20673 Tracy Avenue (US-FQC-K3P-3A),Buttonwillow,CA,RIVIAN_ADVENTURE,Free,2023-11-12
36669,20673 Tracy Avenue (US-FQC-K3P-2A),Buttonwillow,CA,RIVIAN_ADVENTURE,Free,2023-11-12
36676,BVC 61NB - CT4020,Boston,MA,ChargePoint Network,Free,2023-11-13
36677,BVC 75NB - RIGHT,Boston,MA,ChargePoint Network,Free,2023-11-13

## Additional Dataset Parsing/Cleaning Functions

Write any supplemental (optional) functions here.

In [30]:
from bs4 import BeautifulSoup
import pandas as pd

def extra_source1():
    # Load the HTML content from the given file path
    with open("TSLA1.html", 'r', encoding='utf-8') as file:
        content = file.read()

    # Parse the HTML content using BeautifulSoup
    soup = BeautifulSoup(content, "html.parser")

    # Find the table headers
    headers = [header.text for header in soup.find_all('th')]

    # Extracting table rows
    rows_data = []
    for row in soup.find_all('tr'):
        cells = row.find_all('td')
        row_data = [cell.text.strip() for cell in cells]
        if row_data:
            rows_data.append(row_data)

    # Create the DataFrame
    df = pd.DataFrame(rows_data, columns=headers)

    # Drop the "Volume" column if it exists
    if "Volume" in df.columns:
        df.drop(["Volume"], axis=1, inplace=True)

    # Convert the 'Open' column to string type to handle None/NaN values
    df['Open'] = df['Open'].astype(str)

    # Remove rows with stock splits by filtering out rows where 'Open' column contains 'Split'
    df = df[~df['Open'].str.contains("Split")]

    # Set the "Date" column as the index if it exists
    if "Date" in df.columns:
        df.set_index("Date", inplace=True)

    # Define the columns to keep, just the closing price
    columns_to_keep = ['Close*']

    # Filter out columns to only keep the ones specified
    df = df[columns_to_keep]

    # Rename columns as needed
    df.rename(columns={'Close*' : 'Closing Price'}, inplace=True)
    df = df[:-1]
    # Save the DataFrame to the given CSV file path
    df.to_csv("updatedTSLA.csv")

    return df

# Call the function to extract data and save it to a CSV file
extra_source1()

             Closing Price
Date
Nov 10, 2023        214.65
Oct 31, 2023        214.65
Sep 30, 2023        200.84
Aug 31, 2023        250.22
Jul 31, 2023        258.08
...                    ...
Mar 01, 2016         15.32
Feb 01, 2016         12.80
Jan 01, 2016         12.75
Dec 01, 2015         16.00
Oct 31, 2015         15.35

[98 rows x 1 columns]

In [ ]:
# Define further extra source functions as necessary

#Inconsistencies
For each inconsistency (NaN, null, duplicate values, empty strings, etc.) you discover in your datasets, write at least 2 sentences stating the significance, how you identified it, and how you handled it.

1. In the downloaded dataset that we selected, there were many inconsistencies.
    * NaN values / Unnecessary values
        * The missing data values created issues when attempting to sort the data frame and also made the data set more complicated.
        * Moreover, there were unnecessary columns that we simply did not need. These held information such as engine size and sustainability scores.
        * These were omitted using slicing methods where columns to keep were redefined.
    * Duplicate Values
        * Many rows had duplicate values (same cars with the same year)
        * Inorder to identify and resolve this issue, we performed a group by and aggregate function to determine which duplicate was kept and which was removed.
        * Many of the cars had the same make and model, fuel efficiency, etc..., but just a serial number. There were also grouped together and all the numerical values were averaged.
    * Inconsistent rounding
        * Throughout the data set, many of the numerical values were unrounded and had dozens of decimal values.
        * This caused issues with reading the dataset because it pushed all the following value.
        * To clean this, we used a .round() function to round each decimal point to either 2 or 4 decimal values.
    * Cleaning date
        * The data set started in the 20th century and to best align with our other data sets, we trimmed the date to start at the 2000's.
        * This was done with a simple if statement and slicing.
        * Significantly improved the legibility of the data frame. 

2.

3.

4. In the extra Yahoo Finance html data set, these were the inconsistencies:
    * Error Values
        * The volume column was full of errors and "#####" in place of numerical values.
        * We did not need this column so it was removed from the data set.
        * This was done using Beautiful Soup, Pandas, and simply dropping the column using its name.
    * Missing Values
        * Some rows had values that were empty.
        * To spot this, we looked for data values with NaN or null.
        * These data sets were removed.
    * Inconsistent Rows formatting
        * Some of the rows had the string "Stock Split" written in the column where there should be numerical values.
        * This would make it very hard to compute numerical calculations to columns.
        * These rows were removed from the dataset using Pandas drop function.

5. (if applicable)